<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
</head>
<body>
    <div class="account-container">
        <div class="hello">
         <h1>Hello {{email}}!</h1>
         <form class="recipes-form" action="/account/recipes">
    <button>Recipes</button>
  </form>
         <form class="logout-button" id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
  
    </div>
    <div class="muscles">
        <a class="a-muscles" href="/account/chest">Chest</a>
        <a class="a-muscles" href='/account/biceps'>Biceps</a>
        <a class="a-muscles" href="/account/triceps">Triceps</a>
        <a class="a-muscles" href="/account/calves">Calves</a>
        <a class="a-muscles" href="/account/forearms">Forearms</a>
        <a class="a-muscles" href="/account/glutes">Glutes</a>
        <a class="a-muscles" href="/account/hamstrings">Hamstrings</a>
        <a class="a-muscles" href="/account/quadriceps">Quadriceps</a>
        <a class="a-muscles" href="/account/lats">Lats</a>
        <a class="a-muscles" href="/account/lower_back">Lower Back</a>
        <a class="a-muscles" href="/account/middle_back">Mid Back</a>
        <a class="a-muscles" href="/account/traps">Traps</a>
        <a class="a-muscles" href="/account/abdominals">Abs</a>
        <a class="a-muscles" href="/account/neck">Neck</a>
    </div>
    </div>
    
</body>
</html>