<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
</head>
<body>
    <div class="hello">
         <h1>Hello {{email}}</h1>
    </div>
    <div>
        <a href="/account/chest">Chest</a>
        <a href='/account/biceps'>Biceps</a>
        <a href="/account/triceps">Triceps</a>
        <a href="/account/calves">Calves</a>
        <a href="/account/forearms">Forearms</a>
        <a href="/account/glutes">Glutes</a>
        <a href="/account/hamstrings">Hamstrings</a>
        <a href="/account/quadriceps">Quadriceps</a>
        <a href="/account/lats">Lats</a>
        <a href="/account/lower_back">Lower Back</a>
        <a href="/account/middle_back">Mid Back</a>
        <a href="/account/traps">Traps</a>
        <a href="/account/abdominals">Abs</a>
        <a href="/account/neck">Neck</a>
    </div>
</body>
</html>