<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Bot!</title>
    <link rel="stylesheet" href="/stylesheets/home-page.css">
</head>
<body>
    <div class="page">
        <div class="header">
        <a href="./login"><button class="tags"><h3>Log-In</h3></button></a>
        <h1>Welcome to Gym Bot!</h1>
        <a href="./signup"><button class="tags"><h3>Sign Up</h3></button></a>
    </div>
    <div class="description">
        <p>Ready to see the results you have always wanted? Here at Gym Bot we've created a way for you to select any muscle group you'd like to
        work out at the gym. When you select a muscle group it will give you up to 10 exercises to do for the selected muscle.
    </p>
    </div>
    </div>
    
    
</body>
</html>