<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="/stylesheets/recipes.css">
</head>
<body>
    <h1 class="h1">Recipes Post</h1>
    <form action="/account/recipes" method="POST" class="form" enctype="multipart/form-data">
 
    <label class="image">Image
      <input type="file" name="recipe-image"/>
    </label>
 
    <label class="ingredients">Ingredients
      <input type="text" name="recipeIngredients"/>
    </label>

    <label class="name" for="">Name
        <input type="text" name="recipeName"/>
    </label>

    <label class="macros" for="">Macros
        <input type="text" name="recipeMacros"/>
    </label>

 <form action="/account/recipes/publish" class="button">
  <button  type="submit">Submit</button>
 </form>
 </form>
</body>
</html>