<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Recipes Post</h1>
    <form action="/account/recipes" method="POST" class="form">
 
    <label>Image
      <input type="text" name="recipeImage" />
    </label>
 
    <label class="password">Ingredients
      <input type="text" name="recipeIngredients"/>
    </label>

    <label for="">Name
        <input type="text" name="recipeName">
    </label>

    <label for="">Macros
        <input type="text" name="recipeMacros">
    </label>

 <div class="button">
  <button type="submit">Submit</button>
 </div>
 </form>
</body>
</html>