body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/images/login-background-img.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.muscles {
    display: flex;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    border-style: solid;
    width: 15vh;
}

.hello {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-container {
    display: flex;
    flex-direction: column;
}

.logout-button {
    text-align: right;
}