body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/images/login-background-img.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 75px;
    height: 40px;
}