body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/images/login-background-img.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    width: 15vh;
    height: 15vh;
}

h1 {
    text-align: center;
}

