body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/images/login-background-img.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-div {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 500px;
    margin-top: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.password {
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}